.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
.btn {
  background: none;
  border: 2px solid #00D95F;
  padding: 0.8rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn:hover {
  background: white;
}
/*
* === HEADER ===
*/
.header {
  background: black;
  padding: 1rem;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}
.header_heading {
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 2rem;
  color: white;
}
.logo--spotify {
  height: 4rem;
}
.spotify-green {
  color: #00D95F;
}
/*
* === SEARCH ===
*/
.search__heading {
  font-size: 1.5rem;
  margin-top: 3rem;
}
.btn--search {
  background: #00D95F;
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}
.input {
  border: 1px solid rgba(112, 112, 112, 0.4);
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 2rem 2rem 2rem auto;
}
/*
* === SORT ===
*/
.sort {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 700;
}
.sort__heading {
  font-size: 1.5rem;
}
.btn--sort {
  box-shadow: none;
}
.btn--sort:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.btn--az {
  margin: auto 1rem;
}
/*
* === ALBUMS ===
*/
.albums__heading {
  font-size: 2.3rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 4rem auto 1rem auto;
}
.albums__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 80rem;
}
.albums__single-album {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  line-height: 1.5rem;
  margin: 1rem;
  width: 15rem;
  padding: 1rem;
}
.single__album__item {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
}
.album__img {
  height: 8rem;
  border-radius: 50%;
}
.single__album-name {
  margin-top: 1rem;
  font-weight: bold;
}
.single__album-artist {
  font-style: italic;
}
.btn--album-details {
  background:black;
  color: white;
  border: 2px solid black;
}
.btn--album-details:hover {
  color: black;
}
/*
* === ALBUM DETAILS ===
*/
.album-details {
  background-color: #f0f0f0;
  line-height: 1.6rem;
  margin-top: 2rem;
  padding: 3rem 2rem 2rem 2rem;
  position: relative;
}
.album-details__heading {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
}
.album-details__item--tracks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 120rem;
  margin: 0 auto;
}
.album-details__title {
  font-size: 1.1rem;
}
.album-details__item, .tracks__list {
  margin-top: 1rem;
}
.tracks__list {
  display: flex;
  flex-direction: column;
  background: white;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  width: 13rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.tracks__item--track-name {
  font-weight: bold;
}
.album-details__span {
  margin: auto 0.5rem;
  font-weight: 900;
}
.play__icon {
  height: 2.5rem;
}
.play__button {
  background: none;
  cursor: pointer;
}
.album-details__close {
  background: black;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  padding: 1rem 1.4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s ease;
  }
.album-details__close:hover {
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
  
/*
* === FOOTER ===
*/
.footer {
  margin-top: 3rem;
  background: #00D95F;
  padding: 0.8rem;
}
.footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 10rem;
  margin: 0 auto;
}
/*
* ===  ERROR ===
*/
.error__heading {
  margin: 1rem 1rem 2rem 1rem;
  font-size: 1.2rem;
  color: #FC5C7C;
  font-weight: bold;
  line-height: 1.6rem;
  list-style: circle;
}
.error__img {
  height: 10rem;
}